html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --dark-gray:rgb(67, 62, 62);
  --white: #ffffff;
  --black: #000000; 

  --primary: var(white);
  --secondary: var(--black);
  --tertiary: var(--dark-gray); 

  --h1: 5.61rem;
  --h2: 4.209rem;
  --h3: 3.157rem;
  --h4: 2.369rem;
  --h5: 1.777rem;
  --h6: 1.333rem;
  --p: 1rem;
}
h1{
  font-size: var(--h1);
  text-align: center;
  color: var(--secondary);
}

body {
  background-color: var(--primary);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

.dark {
  --primary: var(--dark-gray);
  --secondary: var(--white);
  --tertiary: var(--black); 
}

.container,
.buttons,
.genres {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn{
  font-size: var(--h5);
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 10px;
  border: 1px solid var(--secondary);
  box-shadow: 5px 5px var(--tertiary);
}

.movies,
.shows,
.documentaries,
.podcasts,
.all{
  font-size: var(--h2);
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 5px 5px var(--tertiary);
}

.action,
.comedy,
.drama,
.horror,
.scifi,
.romance,
.animation,
.sitcom,
.dramaSeries,
.realityTV,
.thriller,
.fantasy,
.mystery,
.talkShow,
.nature,
.history,
.trueCrime,
.science,
.biography,
.business,
.technology,
.society{
  font-size: var(--h3);
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 5px 5px var(--tertiary);
}

.card {
  height: 80%;
  width: 30%;
  border: 10px solid var(--secondary);
  box-shadow: 5px 5px var(--tertiary);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  background-color: var(--primary);
}

.card-header {
  font-size: var(--h3);
  margin-top: 3rem;
  text-align: center;
  color: var(--secondary);
}

.card-img {
  width: 50%;
  height: 70%;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 1rem;
  align-items: center;
}

.release {
  font-size: var(--h5);
  margin: 1rem auto;
  color: var(--secondary);
  text-align: center;
}

.description{
  font-size: var(--h6);
  margin-top: 1rem;
  color: var(--secondary);
  text-align: center;
}

.price{
  font-size: var(--h6);
  color: var(--secondary);
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}