html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --dark-gray:rgb(67, 62, 62);

  --primary: var(white);
  --secondary: var(--dark-gray);
  --font-color: #001010; 

  --h1: 5.61rem;
  --h2: 4.209rem;
  --h3: 3.157rem;
  --h4: 2.369rem;
  --h5: 1.777rem;
  --h6: 1.333rem;
}
h1{
  font-size: var(--h1);
}

body {
  background-color: var(--secondary);
}

.warm {
  --primary: var(--light-red);
}

.cool {
  --primary: var(--light-blue);
}

.container,
.buttons,
.genres {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movies,
.shows,
.documentaries,
.podcasts,
.all{
  font-size: var(--h2);
  background-color: var(--primary);
}

.action,
.comedy,
.drama,
.horror,
.scifi,
.romance,
.animation{
  font-size: var(--h3);
  background-color: var(--primary);
}

.card {
  height: 80%;
  width: 25%;
  border: 10px solid white;
  box-shadow: 5px 5px black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  background-color: rgb(67, 62, 62);
}

.card-header {
  font-size: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.card-img {
  width: 50%;
  height: 80%;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 1rem;
}

.release {
  font-size: 1.5rem;
  margin: 1rem auto;
  color: white;
}

.description{
  font: 1rem;
  margin: 1rem;
  color: white;
}

.price{
  color: var(--primary);
}