html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;

  --light-red: #f87171;
  --dark-red: #dc2626;

  --primary: var(var(--light-blue));
  --secondary: var(var(--dark-blue));
  --font-color: #001010; 

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
h1{
  font-size: var(--h1);
}

body {
  background-color: var(--primary);
}

.warm {
  --primary: var(--light-red);
}

.cool {
  --primary: var(--light-blue);
}

.container {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 80%;
  width: 25%;
  border: 10px solid white;
  box-shadow: 5px 5px black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
  background-color: rgb(67, 62, 62);
}

.card-header {
  font-size: 4rem;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.card-img {
  width: 50%;
  height: 80%;
  object-fit: cover;
  margin: 1rem auto;
  border-radius: 1rem;
}

.release {
  font-size: 1.5rem;
  margin: 1rem auto;
  color: white;
}

.description{
  font: 1rem;
  margin: 1rem;
  color: white;
}